*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}
.cima {
    background-color: #222222;
    color: white;
    display: flex;
    justify-content: space-between;
    height: 100px;
    }
.quadradodiv {
        display: flex;
        padding-left: 20px;
    }
.pizzaefront {
        padding-top: 35px;
        padding-left: 15px;
    
    }
.pizza1 {
        color: #39B24A;
    }
    
    
.e{
    color: white;
} 
.Front {
    color:red;
}  
.Envio{
    color:red;
}
section{
    margin: 30px;
    padding: 30px;
    display: flex;
}
.vector {
    padding:10px;
}
.footer {
    background-color: #222222;
    color: white;
    display: flex;
    justify-content: space-between;
    height: 120px;
    position: absolute;
    width: 100%;
}
.footer2 {
    padding: 20px;
}
.imgfooter {
    display: flex;
    padding-right: 40px;
}
.pizzaefront {
    padding-top: 35px;
    padding-left: 15px;

}
.div-p {
    display: flex;
    padding: 20px 20px;   
    margin: 20px;
}
.h2-footer {
    position: relative;
    top: 50px;
    right: 14px;
    height: 20px;
    font-size: 30px;
}
.div-p p {
    padding-left:15px;
}
.footer-ul {
    display: flex; 
    padding-top: 15px;
    padding-left: 45px;
}
.footer-ul ul {
    list-style-type: none;
}
.footer-ul li {
    padding-top: 5px;
    font-size: medium;
}
.divsabores{
    display: flex;
    width: 50%;
    
}
.lateral {
    max-width: 100%;
    max-height: 70%;
    position: relative;
    top: 110px;
    left: 245px;
} 
.delivery {
    width: 50%;
    display: flex;
    }
.ol {
    position: relative;
        top: 145px;
        left: 71px;
        font-weight: bold;
    }
    li {
        font-size: 25px;
    } 
.h2-delivery {
    color: white;
    position: absolute;
    left: 136px;
    }
.h3-top {
        height: 20px;
        position: absolute;
        margin-left: 119px;
        margin-top: 100px;

    }
.h3-delivery {
        position: absolute;
        margin-left: 204px;
        margin-top: 27px;
        color:red;
    }
