* {
    box-sizing: border-box;
    padding:0;
    margin:0;
    font-family: Arial, Helvetica, sans-serif
  }
  .topo{
    height: 40px;
    background-color: #1CD1B0;
    padding: 10px;
    padding-left: 25px;
}

  .topo2 {
    height: 70px;
    background-color: #00669F;
    padding: 25px;
    padding-left: 40px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 60px;
  }

   .quadrados{
      max-width: 640px;
      margin-left: auto;
      margin-right: auto;
  }

  .card {
    width: 300px;
    height: 460px;
    background-color: #F3F3F3;
    border-radius: 20px;
    display: inline-block;
  }

 .card-1 {
    margin-right: 30px;
}

  
  .principal{
  
      background-image: url('../IMG/capabatman.png');
      height: 180px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      position: relative;
      background-position: center;
  }
  .principalalerquina {
    background-image: url('../IMG/alerquina2.png');
    height: 180px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: relative;
    background-position: center;

  }
  
  .alerquina{
    width: 90px;
    height: 90px;
    position: absolute;
    left: 100px;
    top:130px;
    border-radius: 80px;
  }
  
  .informações{
    margin: 10px;
  }
  
  .titulo {
    margin-top: 40px;
  }
  
  .titulo {
    text-align: center;
    font-size: 22px;
  }
  
  .card__preco {
    text-align: center;
    font-size: 18px;
  }
  
  .fala {
    text-align: justify;
  }
  